<mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title>    
        <h2>Register</h2>
      </mat-card-title>
      <!-- <mat-card-subtitle>{{date}}</mat-card-subtitle> -->
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Input" placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
        </mat-form-field>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="register()" color="primary">Register</button>
    </mat-card-actions>
  </mat-card>